<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>254072743921-n2p5j1iupm0fb1h8t7evt0clu2ibbs5r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.254072743921-n2p5j1iupm0fb1h8t7evt0clu2ibbs5r</string>
	<key>API_KEY</key>
	<string>AIzaSyB8v9znn2cwFakbfSyj4Bm6LgIAgiTm7Mg</string>
	<key>GCM_SENDER_ID</key>
	<string>254072743921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahmttyydn.lawBot</string>
	<key>PROJECT_ID</key>
	<string>law-bot-3aaac</string>
	<key>STORAGE_BUCKET</key>
	<string>law-bot-3aaac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254072743921:ios:dca665108e4a7ed9468650</string>
</dict>
</plist>